.app {
	text-align: center;
}

.NavBar {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	text-align: center;
	margin: 20px;
	background-color: aquamarine;
	padding: 10px;
}

.logo {
	height: 50px;
	width: 50px;
}
